@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&family=Poppins:wght@300;400;500;600&family=Raleway:wght@400;500&family=Teko&family=Titillium+Web:wght@600&family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

#main {
    background-color: rgb(39, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header h1 {
    margin-bottom: 10px;
}

#panel {
    position: relative;
    background-color: rgb(244, 244, 244);
    max-width: 400px;
    height: 300px;
    width: 100%;
    padding: 30px 25px;
    border-radius: 10px;
}


.dialogue-box .search {
    position: relative;
    height: 60px;
    margin-bottom: 25px;
}

.search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0 20px 0 10px;
    background-color: white;
    border: 0.5px solid black;
}

.search .copy-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}

.copy-icon:hover {
    color: rgb(39, 96, 96);
}

#panel .slider {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.slider input {
    width: 100%;
    height: 5px;
    accent-color: rgb(39, 96, 96);

}

.slider .slider-number {
    /* display: flex;
    justify-content: center; */
    min-width: 30px;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
}

.btn button {
    width: 100%;
    height: 50px;
    margin: 16px 0 20px 0;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    background-color: rgb(99, 142, 142);
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgb(76, 176, 176);
}